{% extends 'main.html' %}
{% load static %}

{% block content %}
<section id="homepage-start-section" class="mt-0 font-Arial">
    <div class="relative w-full h-[250px] bg-cover bg-center overflow-hidden" style="background-image: url('{% static 'images/homepage_img2.jpg' %}');">
      <!-- Black overlay using RGBA for transparency -->
      <div class="absolute inset-0" style="background-color: rgba(0, 0, 0, 0.5);"></div>

      <!-- Centered heading -->
      <div class="absolute inset-0 flex items-center justify-center">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-6">Let's make your resume stand out with AI</h1>
      </div>
    </div>
  </section>

  {% endblock content %}